// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.menu--card {
    @include box-shadow;
    @include flexbox;
    width: 46%;
    margin: 1% 2%;
    width: 30%;
    height: 30vh;
    @include transform--scale1;
    @include transition;    
}
.menu--card a{
    text-decoration: none;
}
.menu--card:hover{
    @include transform--scale11;
}

i {
    background: linear-gradient(90deg, #e6250b, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section{
    width: 100%;
}
main{
    width: 100%;
}
nav#parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu--title h2{
    background: none;
}
.menu__title--h4{
    background: linear-gradient(to top, #412706 0%, #412706 5%, transparent 10%) no-repeat left bottom/0 100%;
    transition: background-size 1000ms;
    -webkit-transition: background-size 1000ms;
    -moz-transition: background-size 1000ms;
    -ms-transition: background-size 1000ms;
    -o-transition: background-size 1000ms;
}
  h4:hover{
    background-size: 100% 100%;
}

.lanoteenchantee{
    background: #fcdfdb;
}

#lanoteenchantee h2{
    color: #492025;
    font-family: 'Devonshire', cursive;
}
#lanoteenchantee span{
    color: #492025;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
}


#lechicalafrancaise span{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

// #ledelicedespapilles{
//     background: #f9f9f9;
// }


#lapalettedugout{
    background: #fdfffd;
}
#lapalettedugout--card h2{
    background: linear-gradient(90deg, #5ea758, #d0fea2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
}

aside{
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius: 50px;
    background: color(primary);
    color: color(secondary);
    margin: 2% 30%;
}





.dotLoadingAnimation {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.dotLoadingAnimation div {
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: color(secondary);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.dotLoadingAnimation div:nth-child(1) {
    left: 8px;
    animation: dotAppear 0.6s infinite;
    -webkit-animation: dotAppear 0.6s infinite;
}
.dotLoadingAnimation div:nth-child(2) {
    left: 8px;
    animation: dotToRight 0.6s infinite;
    -webkit-animation: dotToRight 0.6s infinite;
}
.dotLoadingAnimation div:nth-child(3) {
    left: 32px;
    animation: dotToRight 0.6s infinite;
    -webkit-animation: dotToRight 0.6s infinite;
}
.dotLoadingAnimation div:nth-child(4) {
    left: 56px;
    animation: dotDisappear 0.6s infinite;
    -webkit-animation: dotDisappear 0.6s infinite;
}
  @keyframes dotAppear {
    0% {
      transform: scale(0);
}
    100% {
      transform: scale(1);
}
  }
  @keyframes dotDisappear {
    0% {
      transform: scale(1);

}
    100% {
      transform: scale(0);
}
  }
  @keyframes dotToRight {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


  

  @keyframes shake {
      from {
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
}
      to {
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        transform-origin: center center;
}
  }