
#container__menu--lapalettedugout{
    // @include flexbox;
    font-family: 'Kaushan Script', cursive;
    span{
        float: right;
    }    
}

#lapalettedugout h3{
    background: linear-gradient(90deg, #5ea758, #d0fea2);
    @include linear-gradient;
    text-align: center;
    font-size: 3rem;
}

