main{
  @include flexbox;
  width: 70%;
  margin: auto;
}
.lanoteenchantee {
  background: #fcdfdb;

}
section {
  width: 80%;
  border: solid 4px blue;
}
h2 {
  text-align: center;
}
h3 {
  font-family: "Devonshire", cursive;
  font-size: 44px;
  letter-spacing: 2px;
  text-align: center;
}
h4 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

p {
  border: ridge 4px red;
  width: 100%;
  // text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.lanoteenchantee--flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: 'Kaushan Script', cursive;
}
.lanoteenchantee--flex span{
  // border: solid 5px pink;
  font-family: 'Kaushan Script', cursive;
  float: right;
}