i {
  background: linear-gradient(90deg, #f15861, #f78f6a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container__menu--lanoteenchantee{
  // @include flexbox;
  background: #fcdfdb;
  font-family: "Devonshire", cursive;
}

#container__menu--lanoteenchantee h3 {
  font-size: 44px;
  letter-spacing: 2px;
  text-align: center;
}


.menu__sub--title{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container__menu--lanoteenchantee p {
  width: 100%;
}

.lanoteenchantee--flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.lanoteenchantee--flex span{
  float: right;
}
