
.lapalettedugout h2{
    background: linear-gradient(90deg, #5ea758, #d0fea2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 3rem;
}
#lapalettedugout span{
    // font-family: 'Kaushan Script', cursive;
    font-family: 'Kaushan Script', cursive;

}    
#lapalettedugout--entree{
    text-align: center;   
}

.lapalettedugout--flex{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Kaushan Script', cursive;
}
.lapalettedugout span{
    // border: solid 5px pink;
    font-family: 'Kaushan Script', cursive;
    float: right;
}
.lapalettedugout p {
    font-family: 'Kaushan Script', cursive;
}
