.lechicalafrancaise{
    font-family: 'Roboto Slab', serif;
}
.lechicalafrancaise h2{
    background: linear-gradient(90deg, #cb7d22, #c6a6fd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#lechicalafrancaise--entree{
    text-align: center;   
}

.lechicalafrancaise--flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.lechicalafrancaise--flex span{
    float: right;
}
// .clip-path{
//     clip-path: polygon(0 50%, 85% 45%, 100% 50%, 85% 55%, 0 51%);
//     background-color: lawngreen;
// }
#triangle-1 {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 5px solid orange;
  }
  
#triangle-2 {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 25px solid transparent;
    border-top: 5px solid orange;
  }
  
#triangle-3 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 5px solid orange;
  }
  
  #triangle-4 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 150px solid transparent;
    border-top: 5px solid orange;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
