.lechicalafrancaise{
    font-family: 'Roboto Slab', serif;
}
.lechicalafrancaise h2{
    background: linear-gradient(90deg, #cb7d22, #c6a6fd);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#lechicalafrancaise--entree{
    text-align: center;   
}

.lechicalafrancaise--flex{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.lechicalafrancaise span{
    // border: solid 5px pink;
    float: right;
}
