// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    background-color: color(primary);

    a {
        color: color(secondary);
        font-size: 2rem;
        font-weight: 900;
        margin: 2%;
        text-decoration: none;
    }
    a:hover {
        color: color(secondary);
        text-decoration: none;
    }
}